.search-post {
    position: relative;
}

.search-post__image {
    height: min(30vh, 350px);
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.search-post__information {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 35px;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.search-post__title {
    font-family: 'Circe', serif;
    font-style: normal;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1E1E1E;
}
