.site-footer {
    width: 80%;
    margin: 0 auto;
}

.site-footer__content {
    display: flex;
    justify-content: space-between;
}

.create-own-place {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
