a {
    text-decoration: none;
    color: black;
}

.no_scroll {
    overflow: hidden !important;
}

.header {
    background: linear-gradient(93.98deg, #9055FF 0%, #13E2DA 59.9%);
}

.header__wrapper {
    width: min(1110px, 80%);
    margin: 0 auto;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 30px;
}

.header__logo {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    mix-blend-mode: screen;
    align-items: center;
    background: #FFFFFF;
    border-radius: 30px;
    font-family: 'Circe', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 31px;
}

.header__logo a {
    color: transparent;
}

.header__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Circe', Sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    width: 180px;
    height: 40px;
    left: 1090px;
    top: 40px;
    background: #FFFFFF;
    border-radius: 30px;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item a {
    font-family: 'Circe', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

/* burger */

.header__wrapper--mobile {
    margin: 0 auto;
    display: none;
    position: relative;
    width: min(1110px, 80%);
    height: 80px;
}

.menu__mobile {
    visibility: hidden;
    background-color: #fff;
    position: fixed;
    z-index: 3;
    left: -100vw;
    top: 0;
    width: 100%;
    height: 100vh;
    transition: .2s linear;
}

.menu__mobile--active {
    visibility: visible;
    left: 0;
}

.menu__mobile--active html {

}

.aside__list {
    margin: 80px auto;
    padding: 0;
    width: 75%;
    list-style: none;
}

.aside__element {

}

.header__wrapper--mobile > .header__logo {
    position: absolute;
    left: calc(50% - 90px);
    top: 20px;
}

.ham {
    position: absolute;
    top: 13px;
    z-index: 4;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate.active .line {
    stroke: #000 !important;
}

.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width:5.5;
    stroke-linecap:round;
}
.ham8 .top {
    stroke-dasharray: 40 160;
}
.ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}
.ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
    stroke-dashoffset: -64px;
}
.ham8.active .middle {
//stroke-dashoffset: -20px;
    transform: rotate(90deg);
}
.ham8.active .bottom {
    stroke-dashoffset: -64px;
}

@media screen and (max-width: 1000px) {
    .header__wrapper {
        display: none
    }
    .header__wrapper--mobile {
        display: block;
    }
}
