a {
    text-decoration: none;
    color: black;
}

.header {
    background: linear-gradient(93.98deg, #9055FF 0%, #13E2DA 59.9%);
}

.header__wrapper {
    width: min(1110px, 80%);
    margin: 0 auto;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 30px;
}

.header__logo {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    mix-blend-mode: screen;
    align-items: center;
    background: #FFFFFF;
    border-radius: 30px;
    font-family: 'Circe', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 31px;
}

.header__logo a {
    color: transparent;
}

.header__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Circe', Sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    width: 180px;
    height: 40px;
    left: 1090px;
    top: 40px;
    background: #FFFFFF;
    border-radius: 30px;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item a {
    font-family: 'Circe', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}