.login-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wpforms-submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wpforms-field-small {
    background: #FFFFFF !important;
    border: 1px solid #9055FF !important;
    border-radius: 10px !important;
}

.wpforms-submit {
    background: #13E2DA !important;
    border-radius: 30px !important;
    width: 200px !important;
    font-family: 'Circe', serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: #1E1E1E !important;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.links a {
    font-family: 'Circe', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9055FF;
}
