.profile-card {
    margin-top: 20px;
    width: min(550px, 100%);
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.profile-card__title {
    margin-block-start: 0;
    margin-block-end: 0;
}

.events-table {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.events-table__row {
    outline:  2px solid rgba(0, 0, 0, 0.2);
}

.events-table__row td {
    padding: 10px;
}

.events-table__title {
    font-family: 'Circe', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1E1E1E;
}

.events-table__event-number {
    text-align: center;
}

.events-table__event-title {
    width: 360px;
    word-break: break-word;
    font-family: 'Circe', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1E1E1E;
}

.events-table__event-title p {
    height: 42px;
    overflow: hidden;
}

.events-table__event-status {
    text-align: center;
    font-family: 'Circe', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.events-table__event-finish {
    text-align: center;
}

/* start actions in profile table */

.events--mobile {
    display: none !important;
    flex-direction: column;
    gap: 20px;
}

.events__card--mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    flex-shrink: 0;
    gap: 10px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.events-table__actions--mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0 0 !important;
}

.events__card-title--mobile {
    height: 30px;
    overflow: hidden;
}

.events__card--mobile h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.events-table__actions {
    text-align: center;
}

.events-table__button {
    display: none !important;
}

.events-table__trash-svg circle, .events-table__trash-svg path,
.events-table__edit-svg circle, .events-table__edit-svg path,
.events-table__cancel-svg circle, .events-table__cancel-svg path,
.events-table__confirm-svg circle, .events-table__confirm-svg path {
    transition: 0.2s;
    cursor: pointer;
}

.events-table__trash-svg:hover circle:nth-child(2n), .events-table__trash-svg:hover path {
    stroke: #C20404 !important;
    stroke-opacity: 1 !important;
}

.events-table__confirm-svg:hover circle:nth-child(2n), .events-table__confirm-svg:hover path {
    stroke: #4CA85A !important;
    stroke-opacity: 1 !important;
}

.events-table__cancel-svg:hover circle:nth-child(2n), .events-table__cancel-svg:hover path {
    stroke: #C20404 !important;
    stroke-opacity: 1 !important;
}

.events-table__edit-svg:hover circle:nth-child(2n), .events-table__edit-svg:hover path {
    stroke: #384FE4 !important;
    stroke-opacity: 1 !important;
}

/* end actions in profile table */

.events-table__event-status--publish {
    background: #4CA85A;
    padding: 5px 23px;
    border-radius: 50px;
}

.events-table__event-status--pending {
    background: #566AED;
    padding: 5px 23px;
    border-radius: 50px;
}

.events-table__event-status--trash {
    background: #ed5656;
    padding: 5px 23px;
    border-radius: 50px;
}

@media (max-width: 767px) {
    .events--mobile {
        display: flex !important;
    }
    .events-table {
        display: none;
    }
}
