.search-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid rgba(30, 30, 30, 0.27);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 50px;
}

.search__submit {
    font-family: 'Circe', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1E1E1E;
    width: min(160px, 300px);
    height: 60px;
    background: #13E2DA !important;
    border-radius: 30px !important;
}

.search__label {
    white-space: nowrap;
}

.search__button {
    cursor: pointer;
    user-select: none;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}

.search__field {
    width: 15%;
    position: relative;
}

.search__dropdown {
    display: none;
    z-index: 2;
    padding: 17px 24px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.4) !important;
    border-radius: 10px !important;
    position: absolute;
    top: 100%;
    left: 0;
}

.typing-field {
    gap: 15px !important;
    margin-bottom: 20px;
}

.search__input-text {
    width: 80px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #13E2DA !important;
    border-radius: 10px !important;
}

.search__dropdown-item {
    display: flex;
    gap: 5px;
}

.open {
    display: block !important;
}

.menu-slider {
    margin-top: 40px;
    margin-bottom: 20px;
}
