.profile-menu {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.profile-menu span {
    color: rgba(34, 34, 34, 0.5);
    font-family: 'Circe', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    transition: all 0.3s;
}

.profile-menu__items {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 0 10px;
    display: flex;
    flex-wrap: nowrap;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-menu__items::-webkit-scrollbar {
    width: 4px !important;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.1);    /* цвет плашки */
    border-radius: 10px;
}

.profile-menu__items::-webkit-scrollbar-thumb {
    background: linear-gradient(93.98deg, #9055FF 0%, #13E2DA 59.9%);
}

.profile-menu__link {
    white-space: nowrap;
    margin-right: 18px;
}

@media screen and (max-width: 1200px) {
    .profile-menu__items {
        overflow-x: auto;
    }
}
